* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    animation-duration: 3s;
    animation-name: transiçao;

}

header {
    display: flex;
}

header img {
    justify-content: space-around;
    width: 20%;
}

nav ul li {
    text-decoration: none;
    list-style: none;
    font-size: 1.3em;
    margin-right: 30px;

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: space-between;
    flex-wrap: wrap;
}


nav ul li {
    margin: 0 10px;
    padding-top: 20px;

}



nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.3em;

}




nav {
    left: 50%;
    padding-left: 30%;
    font-size: 1.3em;
    padding-top: 10px;
}



h1 {
    justify-content: flex-start;
    padding-top: 90px;
    font-size: 5.0em;
    margin: 4px;
    margin-left: 30px;
    margin-right: 60%;
  

}

p {
    font-size: 1.5em;
    margin-right: 76%;
    margin-left: 10px;
  
}

button {
    font-size: 1.9em;
    background-color: black;
    color: white;
    border: 10px black solid;
    border-radius: 10px;
    transition-duration: 0.9s;
}





button :hover {
    color: #5b5959;
    box-shadow: 10px 10px 10px 10px rgb(89, 88, 88);
    transform: translateY(-3px);
}


@keyframes transiçao {
    from {
        margin-top: 100%;
        width: 300%;
    }

    to {
        margin-top: 0%;
        width: 100%;
    }
}




mark {
    border-radius: 9px;
    background-color: rgb(219, 219, 31);
    border-right-color: yellow;
}


.img {
  
    display: flex;
    justify-content: end;
    





}

main {
    background-color: rgba(236, 223, 40, 0.395);
    border-radius: 40px;

}

footer{
    background-color: rgba(236, 223, 40, 0.395);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    border-radius: 20px
}